* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
}

body {
  display: flex;
  flex-wrap: wrap;
}

.main-container {
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  padding: 0px 18px;
}

.About {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  background-color: #fff;
}

header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 30px;
}

.logo {
  display: flex;
  flex-direction: row ;
  padding: 20px;   

}

img {
  width: 150px;
}

.hide-bg{
  mix-blend-mode: multiply;
  filter: contrast(1);
}

nav .hamb {
  position: absolute;
  width: 30px;
  height: 22px;
  right: 3%;
  top: 55px;
  z-index: 5;
  display: none;

  background: #FFA500;
  cursor: pointer;
}

nav .hamb span {
  width: 100%;
  height: 2px;
  display: block;
  
  background: #C85103;
  transition: .3s;
  transition-property: transform,opacity;
}

nav .hamb span:nth-child(2) {
  margin: 6px 0px;
}

nav .nav-list {
  list-style: none;
}

nav .nav-list li {
  display: inline-block; 
}

nav .nav-list li a {
  color: #000000;
  margin-left: 30px;
  font-size: 22px;
  font-weight: 900;
}

nav .nav-list li:not(:last-child) a:hover {
  color:#C85103;
  transition: .4s;
}

nav .nav-list li.btn a {
  display: inline-block;
  border: 2px solid #FFA500;
  padding: 10px 28px;
  border-radius: 28px;
  line-height: 1.2;
  color: #000000;
  font-weight: 600;

  background: transparent;
}

nav .nav-list li.btn:hover a {
  background: #fff;
  color: #C85103;
  border: 1px double transparent;
  transition: .4s;
}

span {
  color: #C85103;
}

.about-container {
  padding-top: 150px;
}

.container .about-text {
  margin: 0 auto;
}


.about-container h3 {
  color: #C85103;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  margin: 18px 0 18px;
}

.about-container h3 {
  color: #C85103;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  margin: 18px 0 18px;
}

.about-container h4 h5 {
  color: #000000;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2;
  margin: 18px 0 18px;
}

.about-container p {
  color: #000000;
  font-size: 18px;
  line-height: 1.2;
  margin: 18px 0 18px;
  

}
/* Tablet Devices */
@media screen and (min-width: 375px) and (max-width: 960px) {
  nav .hamb {
    display: initial;
  }
  .click {
    top: 45px;
  }
  .click span {
    position: absolute;
    margin-top: 12px;
  }
  .click span:first-child {
    transform: rotate(-35deg);
  }
  .click span:nth-child(2) {
    opacity: 0;
    margin: 0;
  }
  .click span:last-child {
    transform: rotate(35deg);
    top: 0;
  }
  
  nav .nav-list {
    position: absolute;
    top: 90px;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
    background: #C85103;
    z-index: 2;
    padding: 6% 9%;
    transition: .3s right;
    border-radius: 10px;
  }

  nav .nav-list li {
    display: block;
  }

  nav .nav-list li a {
    display: block;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    margin-left: 0;
    margin-bottom: 40px;
  }

  nav .nav-list li.btn a {
    position: absolute;
    font-size: 14px;
    right: 20%;
    left: 20%;
    padding: 7px 15px;
  }

}
